[defaults]
inventory = inventory.ini
roles_path = roles
retry_files_enabled = false
host_key_checking = false
interpreter_python = auto_silent
stdout_callback = default
display_skipped_hosts = true
nocows = true

[inventory]
enable_plugins = ini
